exclude tests/*
recursive-include oarepo_user_dashboard *.yaml
recursive-include oarepo_user_dashboard *.json
recursive-include oarepo_user_dashboard *.html
recursive-include oarepo_user_dashboard *.jinja
recursive-include oarepo_user_dashboard *.jinja2
recursive-include oarepo_user_dashboard *.less
recursive-include oarepo_user_dashboard *.js
recursive-include oarepo_user_dashboard *.jsx
recursive-include oarepo_user_dashboard *.overrides
recursive-include oarepo_user_dashboard *.variables
recursive-include oarepo_user_dashboard *.po
recursive-include oarepo_user_dashboard *.mo
recursive-include oarepo_user_dashboard *.pot
